<html><head>
	<link href="style.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1, maximum-scale= 1"> 
</head>

<body class="suggested-on">
	<div class="content-wrap">

		<div class="site-header">টাকার গাছ</div>
		<div class="site-description">Last updated on: {{ site.last_updated_on }}</div>

		<div class="tr chart-row">
			<div class="sector-list">
				{% for sector in site.data.sectors %}
					<div class="sector-name not-showing" data-index="{{ sector.index }}">
					<div class="mark" style="background-color:{{ sector.color }}"></div>
					<span class="s-name">{{ sector.name }}</span></div>
				{% endfor %}
			</div>
			<div class="chart-wrapper">
				<div class="chart-scroll">
					<script>
					window.datasets = [
						{% for sector in site.data.sectors %}
						{
						  fill: false,
						  lineTension: 0.2,
						  backgroundColor: "{{ sector.color }}",
						  borderColor: "{{ sector.color }}",
						  data: [{{ sector.data }}],
						  hidden: true
						},
						{% endfor %}
					];
					window.labels = [
					{% for label in site.data.labels %}
						"{{ label }}",
					{% endfor %}
					];
					</script>
					<canvas id="sectorChart" style="width:800px;max-height:525px"></canvas>
				</div>
			</div>
		</div>

		<div class="filter-row tooltip">
			<span class="tooltiptext">
				.updatable - Show everything<br/>
				.hasrating - Show all with rating<br/>
				.goldenx - Golden Cross Over
				.largecap - Show all Large Caps<br/>
				.midcap - Show all Mid Caps<br/>
				.smallcap - Show all Small Caps<br/>
				.nocap - Show all between 5-10B<br/>
				:not(.nocap) - Excludes .nocap<br/>
			</span>
			<input class='td-padding field-symbol' value='' placeholder='SYMBOL'/>
		</div>

		<div id="watchlistTable" class="excel-table" cellpadding="0" cellspacing="0">
			<div class="tr sticky-row">
				<div class="td colored col-no"><div class="td-padding field-comment notooltip"></div></div>
				<div class="td colored price sticky-col"><div class="td-padding">SYMBOL</div></div>
				<div class="td colored col-sector-p"><div class="td-padding">SECTOR</div></div>
				<div class="td colored percent align-right col-stake"><div class="td-padding">SEC%</div></div>
				<div class="td colored percent align-right col-rating sortable" sortorder="1"><div class="td-padding">RANK</div></div>
				<div class="td colored col-eps"><div class="td-padding">EPS</div></div>
				<div class="td colored price align-right col-cmp sortable" sortorder="1"><div class="td-padding">CMP</div></div>
				<div class="td colored percent align-right col-day-p sortable" sortorder="1"><div class="td-padding">DAY%</div></div>
			</div>
			{% for stock in site.data.stocks %}
			<div class="tr updatable suggested{{ stock.tags }}" sector='{{ stock.sector }}'>
				<div class="td col-no colored options"></div>
				<div class="td col-data col-symbol price sticky-col tooltip">
					<span class='tooltiptext'>{{ stock.name }}</span>
					<div class="td-padding field-symbol">
						<a target='_blank' href='https://www.google.com/search?client=firefox-b-d&q=finance.google NSE%3A+{{ stock.symbol }}'>{{ stock.symbol }}</a>
					</div>
				</div>
				<div class="td col-data col-sector-p">
					<div class="td-padding">{{ stock.sector }}</div>
				</div>
				<div class="td col-data percent align-right col-stake tooltip">
					<span class='tooltiptext'>{{ stock.mcap }} Cr</span>
					<div class="td-padding">{{ stock.stake }}</div>
				</div>
				<div class="td col-data percent align-right col-rating tooltip">
					<span class='tooltiptext'>{{ stock.pastRating }}</span>
					<div class="td-padding">{{ stock.rank }}</div>
				</div>
				<div class="td col-data col-eps"><div class="td-padding">
					{{ stock.eps }}
				</div></div>
				<div class="td col-data price align-right col-cmp"><div class="td-padding field-cmp">{{ stock.cmp }}</div></div>				
				<div class="td col-data percent align-right col-day-p"><div class="td-padding field-day-p">{{ stock.day }}</div></div>
			</div>
			{% endfor %}
		</div>
		
	</div>
	
	<script type='text/javascript' src='jquery-1.8.3.min.js'></script>
	<script type='text/javascript' src='chart.js'></script>
	<script type='text/javascript' src='script.js'></script>
</body></html>